.logo-container{
    margin: 0;
    padding: 1.2em;
    font-weight: normal;
}
.logo-container span{
    margin: 0 .3em;
}
.logo-container #twitter{
    font-size: 3em;
    color: #3498db;
}
.logo-container span#two{
     font-size: 2em;
    color: #2c3e50;
}
.logo-container span#emoji{
    color: #3498db;
    font-weight: bold;
    font-size: 3em;
}