.textarea-container {
	width: 100%;
	display: block;
	text-align: center;
	padding: 3em 0 2em 0;
}
.textarea-mirror {
	font-size: 2em;
    display: inline-block;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    font-family: monospace;
}
#textarea {
    font-family: monospace;
	display: inline-block;
	background: #fff;
	border: 5px solid transparent;
	outline: none;
	border-radius: .5em;
	resize: none;
	overflow: hidden;
    width: auto;
    height: auto;
    min-height: auto;
	font-size: 2em;
	padding: 2em;
	text-align: center;
    color: #2c3e50;
    transition: border .2s ease;
}

#textarea:focus{
    border: 5px solid #d6d6d6;
}
